.gallery{
    /* -webkit-column-count: 3;
    -moz-column-count: 3; */
    column-count: 3;
    /* -webkit-column-width: 33%;
    -moz-column-width: 33%; */
    column-width: 33%;
    padding: 5 12px;
    padding-left: 5 12px;
    padding-top: 5 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 12px;
}
.gallery .pics{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    margin-right: 12px;

}
.gallery .pics img:hover{
    opacity: 0.5;
    z-index: 2;
}
.gallery .pics img{
    /* object-fit: contain; */
    width: 90%;
    padding-right: -12px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    box-sizing: initial;
    

}
.pics .imgbox{
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
@media (max-width:991px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width:480px){
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;    
    }
}
.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    visibility: hidden;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
    
}
.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);

}
.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}
.model.open.caption{
    text-decoration-color: aliceblue;
}
.model.open svg{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: black;
    color: antiquewhite;
}

img {
    object-fit: cover;
}